<body>
    <div id="wrapper">
       <!-- Sidebar -->
       <div id="sidebar-wrapper">
          <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
             <li class="active">
                <a routerLink="/dash-board"><span class="fa-stack fa-lg pull-left"><i class="fa fa-dashboard fa-stack-1x "></i></span> Angular App</a>
                <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                   <li><a routerLink="/dash-board" routerLinkActive="router-link-active" >Dashboard</a></li>
                   <li><a routerLink="/datatable" routerLinkActive="router-link-active" >Datatable</a></li>
                   <li><a href="/upload-file">Uploader File</a></li>
                   <li><a href="">SIGN IN / SIGN UP</a></li>
                </ul>
             </li>
          </ul>
       </div>
       <!-- /#sidebar-wrapper -->
       <!-- Page Content -->
       <div id="page-content-wrapper">
          <div class="container-fluid xyz">
             <div class="row">
                <div class="col-lg-12">

                  <figure class="pie-chart">
                     <h2>World electricity generation by source</h2>
                     <figcaption>
                        Coal 38<span style="color:#0a3812"></span><br>
                        Natural Gas 23<span style="color:#f28e2c"></span><br>
                        Hydro 16<span style="color:#e15759"></span><br>
                        Nuclear 10<span style="color:#76b7b2"></span><br>
                        Renewable 6<span style="color:#59a14f"></span><br>
                        Other 7<span style="color:#edc949"></span>
                     </figcaption>
                     <cite>International Energy Agency</cite>
                  </figure>
                  

                  <table class="graph">
                     <thead>
                        <tr>
                           <th scope="col">Item</th>
                           <th scope="col">Percent</th>
                        </tr>
                     </thead><tbody>
                        <tr style="height:85%">
                           <th scope="row">Your Blog</th>
                           <td><span>85%</span></td>
                        </tr>
                        <tr style="height:23%">
                           <th scope="row">Medium</th>
                           <td><span>23%</span></td>
                        </tr>
                        <tr style="height:7%">
                           <th scope="row">Tumblr</th>
                           <td><span>7%</span></td>
                        </tr>
                        <tr style="height:38%">
                           <th scope="row">Facebook</th>
                           <td><span>38%</span></td>
                        </tr>
                        <tr style="height:35%">
                           <th scope="row">Youtube</th>
                           <td><span>35%</span></td>
                        </tr>
                        <tr style="height:30%">
                           <th scope="row">LinkedIn</th>
                           <td><span>30%</span></td>
                        </tr>
                        <tr style="height:5%">
                           <th scope="row">Twitter</th>
                           <td><span>5%</span></td>
                        </tr>
                        <tr style="height:20%">
                           <th scope="row">Other</th>
                           <td><span>20%</span></td>
                        </tr>
                        
                  
                  </tbody>
                     <div class="igFrameBar" style="margin-top: 180px;">
                     <div class="igData igData1"></div>
                     <div class="igData igData2"></div>
                     <div class="igData igData3"></div>
                     <div class="igData igData4"></div>
                     <div class="igData igData5"></div>
                     <div class="igData igData6"></div>
                     <div class="igData igData7"></div>
                     <div class="igData igData8"></div>
                     <div class="igData igData9"></div>
                     <div class="igData igData10"></div>
                   </div>
                     
                  </table>

                </div>
             </div>
          </div>
       </div>
       <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
  
  </body>